<ng-container *ngIf="componenteVisual; else widgetDesconocido">
    <ng-container *ngComponentOutlet="componenteVisual; inputs: { data: data, widgetId: type }">
    </ng-container>
</ng-container>

<ng-template #widgetDesconocido>
    <div
        class="d-flex flex-column align-items-center justify-content-center h-100 w-100 bg-light text-muted border border-dashed rounded p-3">
        <i class="feather icon-alert-triangle font-24 text-warning mb-2"></i>
        <h6 class="m-0">Widget No Implementado</h6>
        <small>[{{ type }}]</small>
    </div>
</ng-template>