<app-widget-shell titulo="MRR: Ingresos Recurrentes" icono="feather icon-bar-chart-2" variante="normal"
    [mostrarLinea]="false" [widgetId]="widgetId" [data]="data">

    <!-- Se inyecta al lado del botón maximizar -->
    <div acciones-extra class="ms-2">
        <span class="badge bg-light text-dark border">Financiero</span>
    </div>

    <!-- 1. VISTA NORMAL -->
    <div class="chart-wrapper w-100 h-100 position-relative">
        <canvas baseChart [data]="lineChartData" [options]="lineChartOptions" [type]="lineChartType"></canvas>
    </div>

    <!-- 2. VISTA MODO ENFOQUE -->
    <div modo-enfoque class="w-100 h-100 position-relative p-4">
        <canvas baseChart [data]="lineChartData" [options]="lineChartOptions" [type]="lineChartType"></canvas>
    </div>
</app-widget-shell>