<div class="plataforma-list-screen">

    <app-full-screen-slider [tipoSlider]="2" class="plataforma-list-bg"></app-full-screen-slider>

    <nav class="navbar fixed-top navbar-expand-lg">
        <div class="container-fluid panel-overlay">
            <a class="navbar-brand" href="#"></a>
            <div class="nav-right">
                <app-language-selector></app-language-selector>
            </div>
        </div>
    </nav>

    <div class="plataforma-apps-layout">

        <div class="plataforma-apps-header text-center">
            <h2 class="apps-main-title">{{ 'PLATAFORMA.TITULO_GRID_SUITES' | translate }} {{ nomAplicacion }}</h2>
            <p class="apps-subtitle">{{ 'PLATAFORMA.SUBTITULO_GRID_SUITES' | translate }} {{ nomAplicacion }}</p>
        </div>

        <div class="plataforma-apps-grid">
            <div class="plataforma-app-item-card" *ngFor="let suite of suites"
                [style.backgroundImage]="'url(' + suite.imagenInicio + ')'">

                <div class="app-card-overlay">
                    <div class="app-card-info">
                        <h3 class="app-name">{{ suite.nombreSuite }}</h3>
                        <p class="app-description" [innerHTML]="suite.descripcionSuite"></p>
                    </div>

                    <div class="app-card-actions"><br>
                        <button (click)="ingresaSuiteaplicacion(suite)" class="plataforma-enter-btn">
                            {{ 'PLATAFORMA.ENTRAR' | translate }} <i class="feather icon-arrow-right"></i>
                        </button>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>