<app-nav-bar (toggleSidebar)="toggleNav()"></app-nav-bar>
<div class="layout-wrapper">
    <aside class="aside-left">
        <div class="card">
            <div class="nav-tabs-custom">
                <button>{{ 'PLATAFORMA.MENU' | translate }}</button>
            </div>
            <ng-container>
                <app-nav-content [navigationItems]="menuItems | async"></app-nav-content>
            </ng-container>
        </div>
    </aside>

    <div class="form-area">
        <div class="card">
            <div class="card-header card-header-sticky">
                <div class="dt-toolbar d-flex justify-content-between align-items-center mb-2">
                    <div class="d-flex align-items-center">
                        <h4 class="datatable-title" *ngIf="!modoEdicion">{{ tituloPagina }}
                        </h4>
                        <h4 class="datatable-title" *ngIf="modoEdicion">{{ tituloPagina }}</h4>
                    </div>
                    <div class="d-flex">
                        <button type="button" class="btn btn-primary btn-NuevoRegistro" (click)="btnRegresarClick()">
                            {{ 'PLATAFORMA.REGRESAR' | translate }}
                            <i class="feather icon-arrow-left ms-2"></i>
                        </button>
                        <button *ngIf="!modoEdicion" type="button" class="btn btn-primary btn-NuevoRegistro"
                            [disabled]="roles.length === 0" (click)="btnGestionarRegistroClick(validationForm)">
                            {{ 'USUARIOS.USUARIOSROLES.GESTION.CREATE' | translate }}
                            <i class="feather ms-2" [ngClass]="modoEdicion ? 'icon-edit' : 'icon-plus'"></i>
                        </button>
                        <button *ngIf="modoEdicion" type="button" class="btn btn-primary btn-NuevoRegistro"
                            (click)="btnGestionarRegistroClick(validationForm)">
                            {{ 'USUARIOS.USUARIOSROLES.GESTION.UPDATE' | translate }}
                            <i class="feather ms-2" [ngClass]="modoEdicion ? 'icon-edit' : 'icon-plus'"></i>
                        </button>
                    </div>
                </div>
            </div>

            <div class="card-body form-scroll-wrapper">
                <form #validationForm="ngForm" class="editForm" novalidate>
                    <div class="row">
                        <!-- Suscriptor -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-control-label" for="codigoSuscriptor">{{
                                    'USUARIOS.USUARIOSROLES.GESTION.SUSCRIPTOR' | translate }}</label>
                                <select class="form-control input-md form-select" style="cursor: pointer"
                                    name="codigoSuscriptor" id="codigoSuscriptor"
                                    [ngClass]="{ 'is-invalid': !codigoSuscriptor.valid && (codigoSuscriptor.dirty || codigoSuscriptor.touched || isSubmit) }"
                                    #codigoSuscriptor="ngModel" required [(ngModel)]="FormRegistro.codigoSuscriptor"
                                    (change)="onSuscriptorChangeClick($event)">
                                    <option value="" disabled>{{ 'USUARIOS.USUARIOSROLES.GESTION.SUSCRIPTORHOLDER'
                                        | translate }}</option>
                                    <option [value]="app.codigoSuscriptor" *ngFor="let app of suscriptores">{{
                                        app.nombreSuscriptor }}</option>
                                </select>
                                <label
                                    *ngIf="!codigoSuscriptor.valid && (codigoSuscriptor.dirty || codigoSuscriptor.touched || isSubmit)"
                                    class="error jquery-validation-error small form-text invalid-feedback">
                                    {{ 'USUARIOS.USUARIOSROLES.GESTION.REQUERIDOSUSCRIPTOR' | translate }}
                                </label>
                            </div>
                        </div>

                        <!-- Empresas SC -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-control-label" for="codigoEmpresaSC">{{
                                    'USUARIOS.USUARIOSROLES.GESTION.EMPRESASC' | translate }}</label>
                                <select class="form-control input-md form-select" style="cursor: pointer"
                                    name="codigoEmpresaSC" id="codigoEmpresaSC"
                                    [ngClass]="{ 'is-invalid': !codigoEmpresaSC.valid && (codigoEmpresaSC.dirty || codigoEmpresaSC.touched || isSubmit) }"
                                    #codigoEmpresaSC="ngModel" required [(ngModel)]="FormRegistro.codigoEmpresaSC"
                                    (change)="onEmpresaSCChangeClick($event)">
                                    <option value="" disabled>{{ 'USUARIOS.USUARIOSROLES.GESTION.EMPRESASCHOLDER' |
                                        translate }}</option>
                                    <option [value]="app.codigoEmpresaSC" *ngFor="let app of empresasSC">{{
                                        app.nombreEmpresa }}</option>
                                </select>
                                <label
                                    *ngIf="!codigoEmpresaSC.valid && (codigoEmpresaSC.dirty || codigoEmpresaSC.touched || isSubmit)"
                                    class="error jquery-validation-error small form-text invalid-feedback">
                                    {{ 'USUARIOS.USUARIOSROLES.GESTION.REQUERIDOEMPRESASC' | translate }}
                                </label>
                            </div>
                        </div>

                        <!-- Tipo de Rol -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-control-label" for="codigoTipoRole">{{
                                    'USUARIOS.USUARIOSROLES.GESTION.TIPOROLE' | translate }}</label>
                                <select class="form-control input-md form-select" style="cursor: pointer"
                                    name="codigoTipoRole" id="codigoTipoRole"
                                    [ngClass]="{ 'is-invalid': !codigoTipoRoleVal.valid && (codigoTipoRoleVal.dirty || codigoTipoRoleVal.touched || isSubmit) }"
                                    #codigoTipoRoleVal="ngModel" required [(ngModel)]="FormRegistro.codigoTipoRole"
                                    (change)="onTipoRoleChangeClick($event)">
                                    <option value="" disabled selected>{{
                                        'USUARIOS.USUARIOSROLES.GESTION.TIPOROLEHOLDER' | translate }}</option>
                                    <option [value]="app.codigoTipoRole" *ngFor="let app of tiposRoles">{{
                                        app.nombreTipoRole }}</option>
                                </select>
                                <label
                                    *ngIf="!codigoTipoRoleVal.valid && (codigoTipoRoleVal.dirty || codigoTipoRoleVal.touched || isSubmit)"
                                    class="error jquery-validation-error small form-text invalid-feedback">
                                    {{ 'USUARIOS.USUARIOSROLES.GESTION.REQUERIDOTIPOROLE' | translate }}
                                </label>
                            </div>
                        </div>

                        <!-- Aplicación (Oculto si es Plataforma) -->
                        <div class="col-md-6" *ngIf="esRolSuscriptor">
                            <div class="form-group">
                                <label class="form-control-label" for="codigoAplicacion">{{
                                    'USUARIOS.USUARIOSROLES.GESTION.APLICACION' | translate }}</label>
                                <select class="form-control input-md form-select" style="cursor: pointer"
                                    name="codigoAplicacion" id="codigoAplicacion"
                                    [ngClass]="{ 'is-invalid': !codigoAplicacion.valid && (codigoAplicacion.dirty || codigoAplicacion.touched || isSubmit) }"
                                    #codigoAplicacion="ngModel" required [(ngModel)]="FormRegistro.codigoAplicacion"
                                    (change)="onAplicacionchangeClick($event)">
                                    <option value="" disabled>{{ 'USUARIOS.USUARIOSROLES.GESTION.APLICACIONHOLDER' |
                                        translate }}</option>
                                    <option [value]="app.codigoAplicacion" *ngFor="let app of aplicaciones">{{
                                        app.nombreAplicacion }}</option>
                                </select>
                                <label
                                    *ngIf="!codigoAplicacion.valid && (codigoAplicacion.dirty || codigoAplicacion.touched || isSubmit)"
                                    class="error jquery-validation-error small form-text invalid-feedback">
                                    {{ 'USUARIOS.USUARIOSROLES.GESTION.REQUERIDOAPLICACION' | translate }}
                                </label>
                            </div>
                        </div>

                        <!-- Suite (Oculto si es Plataforma) -->
                        <div class="col-md-6" *ngIf="esRolSuscriptor">
                            <div class="form-group">
                                <label class="form-control-label" for="codigoSuite">{{
                                    'USUARIOS.USUARIOSROLES.GESTION.SUITE' | translate }}</label>
                                <select class="form-control form-input" style="cursor: pointer" name="codigoSuite"
                                    id="codigoSuite"
                                    [ngClass]="{ 'is-invalid': !codigoSuite.valid && (codigoSuite.dirty || codigoSuite.touched || isSubmit) }"
                                    #codigoSuite="ngModel" required [(ngModel)]="FormRegistro.codigoSuite"
                                    (change)="onSuiteChangeClick($event)">
                                    <option value="" disabled>{{ 'USUARIOS.USUARIOSROLES.GESTION.PLACEHOLDERSUITE' |
                                        translate }}</option>
                                    <option [value]="sui.codigoSuite" *ngFor="let sui of suitesFiltradas">{{
                                        sui.nombreSuite }}</option>
                                </select>
                                <label
                                    *ngIf="!codigoSuite.valid && (codigoSuite.dirty || codigoSuite.touched || isSubmit)"
                                    class="error jquery-validation-error small form-text invalid-feedback">
                                    {{ 'USUARIOS.USUARIOSROLES.GESTION.REQUERIDOSUITE' | translate }}
                                </label>
                            </div>
                        </div>

                        <!-- Header Roles -->
                        <div class="col-md-12" *ngIf="roles.length > 0">
                            <div class="text-center flex flex-col justify-center"><br />
                                <h4 class="titulo-container">{{ 'USUARIOS.USUARIOSROLES.GESTION.TITLE' | translate }}
                                </h4>
                                <h6 class="subtitulo-container">{{ 'USUARIOS.USUARIOSROLES.GESTION.SUBTITLE' | translate
                                    }}
                                </h6><br>
                                <button type="button" class="btn btn-primary btn-NuevoRegistro transition"
                                    (click)="btnAsociarTodosClick()">
                                    {{ 'PLATAFORMA.ALLDATA' | translate }}
                                </button><br /><br />
                            </div>
                        </div>

                        <!-- Lista de Roles -->
                        <div class="col-md-12" *ngIf="roles.length > 0">
                            <div class="col-md-12" style="max-height: 400px; overflow-y: auto; overflow-x: hidden;">
                                <div class="row mx-0">
                                    <div class="col-md-6 mb-3" *ngFor="let rol of roles; let i = index">
                                        <label class="checkbox-container custom-check-form" [for]="'modu_' + i">
                                            <input class="custom-checkbox" type="checkbox" [(ngModel)]="rol.checked"
                                                [name]="'modCheck_' + i" [id]="'modu_' + i"
                                                (change)="onRoleCheckChange($event, rol)" />
                                            <div class="text-wrapper ml-2">
                                                <span class="titulo-container">{{ rol.nombreRole }}</span>
                                                <span class="subtitulo-container"
                                                    [innerHTML]="rol.descripcionRole || 'Habilita este role para ejecutar la actividad.'">
                                                </span>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>